# See http://help.github.com/ignore-files/ for more about ignoring files.

# Mobile modules
Mobile/node_modules

# Backend modules
Backend/**/bin
Backend/**/obj

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
Backend/.vs/DefaultArchitecture/v15/.suo
Backend/.vs/config/applicationhost.config
Backend/.vs/DefaultArchitecture/v15/.suo
Backend/.vs/DefaultArchitecture/v15/Server/sqlite3/db.lock
Backend/.vs/DefaultArchitecture/v15/Server/sqlite3/storage.ide
Backend/.vs/EasyStreets/v15/.suo
Backend/.vs/EasyStreets/v15/Server/sqlite3/db.lock
Backend/.vs/EasyStreets/v15/Server/sqlite3/storage.ide
Backend/.vs/EasyStreets/v15/Server/sqlite3/storage.ide-shm
Backend/.vs/EasyStreets/v15/Server/sqlite3/storage.ide-wal
Mobile/EasyStreets/.idea/misc.xml
